In [3]:
import sqlite3

In [4]:
# connect to db
conn = sqlite3.connect('petsdb')

In [5]:
# function to check if connection was successful
def check_conn(conn):
  if (conn):
    conn.execute("SELECT count(*) FROM pets")
    print("Connection successful")
  else:
    print("Connection unsuccessful")

In [6]:
# check connection
check_conn(conn)

Connection successful

In [7]:
# create cursor object
c = conn.cursor()

In [8]:
# group persons database by ages
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("{} people are {} years old".format(ppl, age))

2 people are 5 years old
1 people are 6 years old
1 people are 7 years old
3 people are 8 years old
1 people are 9 years old
2 people are 11 years old
3 people are 12 years old
1 people are 13 years old
4 people are 14 years old
2 people are 16 years old
2 people are 17 years old
3 people are 18 years old
1 people are 19 years old
3 people are 22 years old
2 people are 23 years old
3 people are 24 years old
2 people are 25 years old
1 people are 27 years old
1 people are 30 years old
3 people are 31 years old
1 people are 32 years old
1 people are 33 years old
2 people are 34 years old
3 people are 35 years old
3 people are 36 years old
1 people are 37 years old
2 people are 39 years old
1 people are 40 years old
1 people are 42 years old
2 people are 44 years old
2 people are 48 years old
1 people are 49 years old
1 people are 50 years old
2 people are 51 years old
2 people are 52 years old
2 people are 53 years old
2 people are 54 years old
1 people are 58 years old
1 people are 59 years old
1 people are 60 years old
1 people are 61 years old
2 people are 62 years old
1 people are 63 years old
2 people are 65 years old
2 people are 66 years old
1 people are 67 years old
3 people are 68 years old
1 people are 69 years old
1 people are 70 years old
4 people are 71 years old
1 people are 72 years old
5 people are 73 years old
3 people are 74 years old

In [32]:
# find largest age group
for people, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC LIMIT 1"):
        print('The group with the most people is age {} with {} people.'.format(age, people))

The group with the most people is age 73 with 5 people.

In [41]:
# find people with null values in last name field
c.execute("SELECT * from persons WHERE last_name IS NULL")
results = c.fetchall()
print(len(results), 'people do not have a last name listed.\n\n The results are:')
results

60 people do not have a last name listed.

 The results are:

[(1, 'Erica', None, 22, 'south port', 2345678),
 (2, 'Jordi', None, 73, 'east port', 123456),
 (3, 'Chasity', None, 70, 'new port', 76856785),
 (4, 'Gregg', None, 31, 'new port', 76856785),
 (6, 'Cary', None, 73, 'new port', 76856785),
 (8, 'Francisca', None, 14, 'west port', 123456),
 (10, 'Raleigh', None, 68, 'new port', 2345678),
 (11, 'Maria', None, 42, 'west port', 123456),
 (12, 'Mariane', None, 62, 'south port', 9756543),
 (13, 'Mona', None, 44, 'south port', 76856785),
 (14, 'Kayla', None, 36, 'south port', 2345678),
 (15, 'Karlie', None, 35, 'west port', 123456),
 (16, 'Morris', None, 71, 'west port', 76856785),
 (17, 'Sandy', None, 23, 'east port', 2345678),
 (18, 'Hector', None, 63, 'east port', 9756543),
 (19, 'Hiram', None, 52, 'west port', 2345678),
 (20, 'Tressa', None, 59, 'new port', 123456),
 (21, 'Berry', None, 22, 'south port', 2345678),
 (22, 'Pearline', None, 73, 'new port', 9756543),
 (23, 'Maynard', None, 25, 'east port', 123456),
 (24, 'Dorian', None, 40, 'east port', 123456),
 (25, 'Mylene', None, 5, 'east port', 76856785),
 (26, 'Lafayette', None, 34, 'new port', 2345678),
 (29, 'Tara', None, 39, 'west port', 123456),
 (30, 'Destiny', None, 18, 'south port', 2345678),
 (31, 'Lesly', None, 31, 'west port', 123456),
 (32, 'Perry', None, 19, 'south port', 76856785),
 (35, 'Maritza', None, 73, 'east port', 9756543),
 (37, 'Grant', None, 61, 'east port', 76856785),
 (39, 'Laury', None, 17, 'east port', 9756543),
 (40, 'Name', None, 52, 'east port', 9756543),
 (41, 'Estefania', None, 32, 'new port', 76856785),
 (42, 'Destiney', None, 65, 'west port', 2345678),
 (43, 'Jaquelin', None, 73, 'west port', 9756543),
 (45, 'Alfonzo', None, 16, 'east port', 2345678),
 (46, 'Lisandro', None, 11, 'new port', 76856785),
 (49, 'Priscilla', None, 65, 'east port', 76856785),
 (50, 'Elenora', None, 11, 'new port', 76856785),
 (52, 'Rudolph', None, 14, 'east port', 76856785),
 (56, 'Ona', None, 35, 'east port', 9756543),
 (57, 'Rebeca', None, 50, 'new port', 76856785),
 (59, 'Sigurd', None, 12, 'west port', 76856785),
 (63, 'Alice', None, 8, 'west port', 76856785),
 (64, 'Dane', None, 24, 'west port', 9756543),
 (65, 'Judge', None, 17, 'south port', 76856785),
 (66, 'Allene', None, 9, 'new port', 9756543),
 (67, 'Jalen', None, 33, 'new port', 2345678),
 (70, 'Myron', None, 36, 'new port', 9756543),
 (73, 'Travon', None, 16, 'south port', 2345678),
 (74, 'Shayna', None, 60, 'new port', 2345678),
 (75, 'Myah', None, 14, 'east port', 2345678),
 (82, 'Letha', None, 44, 'new port', 9756543),
 (84, 'Felton', None, 74, 'east port', 2345678),
 (85, 'London', None, 66, 'east port', 9756543),
 (86, 'Koby', None, 31, 'west port', 9756543),
 (87, 'Golden', None, 35, 'east port', 76856785),
 (89, 'Anissa', None, 8, 'south port', 76856785),
 (91, 'Sid', None, 22, 'west port', 123456),
 (96, 'Ernesto', None, 69, 'east port', 9756543),
 (97, 'Josianne', None, 14, 'west port', 76856785)]

In [34]:
# count number of people with more than one pet
c.execute("SELECT * FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
results = c.fetchall()
print(len(results), 'people have more than one pet.')

43 people have more than one pet.

In [35]:
# number of pets that had treatments
c.execute("SELECT * FROM pets WHERE treatment_done=1" )
results = c.fetchall()
print(len(results), 'pets have had treatments.')

36 pets have had treatments.

In [37]:
# number of pets with known type that had treatments
c.execute("SELECT * FROM pets WHERE treatment_done=1 AND pet_type IS NOT NULL" )
results = c.fetchall()
print(len(results), 'pets of known type have had treatments.')

16 pets of known type have had treatments.

In [28]:
# find number of pets in East Port
c.execute("SELECT * FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
results = c.fetchall()
print(len(results), 'pets live in East Port.')

49 pets live in East Port.

In [31]:
# find number of pets in East Port with treatments done
c.execute("SELECT * FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
results = c.fetchall()
print(len(results), 'pets in East Port have had treatments.')

11 pets in East Port have had treatments.