In [47]:
from bs4 import BeautifulSoup
import re
import pandas as pd

In [48]:
# open html file and apply beautifulsoup 
fd = open("List of countries by GDP (nominal) - Wikipedia.htm", "r", encoding='utf8')
soup = BeautifulSoup(fd)
fd.close()

In [89]:
# find all tables
find_tables = soup.find_all("table")
print('There are',len(find_tables), 'tables on this page.')

There are 9 tables on this page.

In [90]:
# find wikitables only
right_table = soup.find("table", {"class": '"wikitable"|}'})
type(right_table)

bs4.element.Tag

In [91]:
# find data sources
sources = right_table.tbody.findAll('tr', recursive=False)[0]
sources_list = [td for td in sources.findAll('td')]
len(sources_list)

3

In [92]:
# find table data 
data = right_table.tbody.findAll('tr', recursive=False)[1].findAll('td', recursive=False)
right_tables = []
for td in data:
    right_tables.append(td.findAll('table'))
len(right_tables)

3

In [93]:
# pull source names
source_names = [source.findAll('a')[0].getText() for source in sources_list]
print(source_names)

['International Monetary Fund', 'World Bank', 'United Nations']

In [94]:
# pull first table headers
header1 = [th.getText().strip() for th in data_tables[0][0].findAll('thead')[0].findAll('th')]
header1

['Rank', 'Country', 'GDP(US$MM)']

In [95]:
# get row data
rows1 = data_tables[0][0].findAll('tbody')[0].findAll('tr')[1:]

In [96]:
# clean row data
data_rows1 = [[td.get_text().strip() for td in tr.findAll('td')] for tr in rows1]

In [97]:
# show first table in df
df1 = pd.DataFrame(data_rows1, columns=header1)
df1.head()

  Rank         Country  GDP(US$MM)
0    1   United States  19,390,600
1    2      China[n 1]  12,014,610
2    3           Japan   4,872,135
3    4         Germany   3,684,816
4    5  United Kingdom   2,624,529

In [107]:
# pull headers from second table
header2 = [th.getText().strip() for th in data_tables[1][0].findAll('thead')[0].findAll('th')]
header2

['Rank', 'Country', 'GDP(US$MM)']

In [108]:
# select row data
rows2 = data_tables[1][0].findAll('tbody')[0].findAll('tr')[1:]

In [116]:
# function to clean and reformat row data
def find_right_text(i, td):
    if i == 0:
        return td.getText().strip()
    elif i == 1:
        return td.getText().strip()
    else:
        index = td.text.find("â™ ")
        return td.text[index+1:].strip()

In [117]:
# apply function to clean row
data_rows2 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [118]:
# show second table df
df2 = pd.DataFrame(data_rows2, columns=header2)
df2.head()

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439

In [119]:
# get third table headers
header3 = [th.getText().strip() for th in data_tables[2][0].findAll('thead')[0].findAll('th')]
header3

['Rank', 'Country', 'GDP(US$MM)']

In [120]:
# select rows from third table
rows3 = data_tables[2][0].findAll('tbody')[0].findAll('tr')[1:]

In [121]:
# clean row data
data_rows3 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [122]:
# display table 3 in df
df3 = pd.DataFrame(data_rows3, columns=header3)
df3.head()

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439